<a *ngIf="showCredit == 'true'" class="label f-12 round-btn text-uppercase p-2 pl-0 pr-4 text-info credit-btn" href="javascript:">
    <span class="f-20 mr-1">{{credit}}</span>
    CREDITS LEFT
</a>
<div ngbDropdown class="download-btn" style="display:inline-block" #downLoadDropDown="ngbDropdown">
    <button type="button dropdown" ngbDropdownToggle *ngIf="showCredit  == 'true'" class="btn btn-rounded btn-theme shadow-2 m-0"><i
            class="feather icon-download mr-2"></i><span class="mobile-none">Download</span></button>
    <ul class="dropdown-menu" ngbDropdownMenu>
        <li class="download-menu">
            <div class="form-group m-0 d-block">
                <div class="radio d-block f-12 mr-0 pt-2">
                    <input type="radio" name="radio-1" id="radio-1" (change)="onConditionUpdate($event)" [attr.checked]="downloadOptions.type == 'visible' ? '': null">
                    <label for="radio-1" class="cr">Download Visible</label>
                </div>
            </div>
        </li>
        <li class="download-menu">
            <div class="form-group m-0 d-block">
                <div class="radio d-block f-12 mr-0 pt-2">
                    <input type="radio" name="radio-1" id="radio-2" (change)="onConditionUpdate($event)" [attr.checked]="downloadOptions.type == 'selected' ? '': null">
                    <label for="radio-2" class="cr">Download Selected</label>
                </div>
            </div>
        </li>
        <li class="download-menu">
            <div class="form-group m-0 d-block">
                <div class="radio d-block f-12 pt-2 mr-0">
                    <input type="radio" name="radio-1" id="radio-3" (change)="onConditionUpdate($event)" [attr.checked]="downloadOptions.type == 'count' ? '': null">
                    <label for="radio-3" class="cr">Random set</label>
                </div>
            </div>
        </li>
        <hr>
        <li *ngIf="downloadOptions.type == 'count'" class="text-center">
            <input [(ngModel)]="downloadOptions.recordCount" class="form-control f-12 mb-3" type="number" placeholder="No of Records" />
        </li>

        <div class="text-center"><button class="btn btn-theme btn-rounded text-center m-0" (click)="onDownloadClicked(downLoadDropDown)">Download</button></div>
        <div>
            <p class="mt-3 text-center error is-invalid jquery-validation-error form-text invalid-feedback">{{msg}}</p>
        </div>
    </ul>
</div>
<p-multiSelect *ngIf="showColumnToggle == 'true'" dropdownIcon="fa fa-columns" [options]="displayColumns" [(ngModel)]="visibleColumns"
    (ngModelChange)='onColumnToggled($event)' optionLabel="name" selectedItemsLabel="{0} columns" class="toggle-btn"
    defaultLabel="Choose Columns"></p-multiSelect>
<button *ngIf="showFilters == 'true'" aria-expanded="true" type="button" data-toggle="collapse" data-target="#collapseExample"
    aria-controls="collapseExample" class="btn btn-icon btn-rounded btn-theme filter-btn" (click)="onShowFilter()"><i
        class="feather icon-filter f-20"></i></button>