.task-list li:after {
    content: "";
    position: absolute;
    background: #ecedef;
    height: 100%;
    width: 2px;
    top: 0;
    left: 29px;
    z-index: 1;
}

.task-list li:before {
    content: "";
    position: absolute;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    border: 15px solid transparent;
    border-left: 0;
    //border-left: 15px solid #f1f1f1;
}
.sticky-block {
    position: sticky;
    position: -webkit-sticky;
    top: 10px;
}
.task-list li {
    margin: 0;
    padding-bottom: 10px;
}
.task-list:after {
    height: 30px;
    left: 29px;
}

.task-list li .task-icon {
    top: 0;
}

.task-list {
    overflow: hidden;
}

.task-list:hover {
    overflow-y: auto;
    scrollbar-width: thin;
}

.card-footer .col+.col {
    border-left: 1px solid #f1f1f1;
}

.news-thumbnail {
    width: 40px;
    height: 40px;
    float: left;
}
