<div class="row justify-content-md-center">
    <div class="col-md-12 col-xl-12">
        <h1 class="text-center title"><i class="feather icon-shield mr-3 "></i>Change Password</h1>
    </div>

<div class="col-md-5 col-xl-5" >
  <div class="auth-content">
    <div class="card shadow-2">
      <div class="card-body text-center">
        <form #validationForm="ngForm" class="editForm" novalidate>
        <div class="form-group mb-3">
          <input type="password" class="form-control" #currentPassword="ngModel" required 
                  placeholder="Current Password" [(ngModel)]="oldPassword" name="validation-old-password"
                  [ngClass]="{'is-invalid': !currentPassword.valid && (currentPassword.dirty || currentPassword.touched )}">
          <label *ngIf="!currentPassword.valid && (currentPassword.dirty || currentPassword.touched )" id="validation-oldPassword-error"
              class="error text-left jquery-validation-error small form-text invalid-feedback">
                Please enter Current password</label>
        </div>
        <div class="form-group mb-3">
          <input type="password" name="validation-password" 
            pattern='(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}' 
            class="form-control" minlength="8" required placeholder="New Password" #password="ngModel"
            [(ngModel)]="newPassword" [ngClass]="{'is-invalid': !password.valid && (password.dirty || password.touched )}">
          <label 
            *ngIf="!password.valid && (password.dirty || password.touched )" 
            id="validation-password-error"
            class="text-left error jquery-validation-error small form-text invalid-feedback">
              Please enter a valid password.(Minimun 8 Characters consisting atleast 1 uppercase letter, 1 lowercase letter, 1 number and 1 special character)
          </label>
        </div>
        <div class="form-group mb-4">
          <input type="password" required class="form-control" 
            name="validation-new-password" placeholder="Re-Type New Password" 
            [(ngModel)]="newPasswordConfirm" #confirmPassword="ngModel" [equalTo]="password"
            [ngClass]="{'is-invalid': !confirmPassword.valid && (confirmPassword.dirty || confirmPassword.touched )}">
          <label *ngIf="!confirmPassword.valid && (confirmPassword.dirty || confirmPassword.touched )"
                          id="validation-password-confirm-error" class="text-left error jquery-validation-error small form-text invalid-feedback">Please
                          enter a valid confirm password.</label>
        </div>
        <p *ngIf="errMsg " class="mb-4 error is-invalid jquery-validation-error small form-text invalid-feedback">{{errMsg}}</p>
        <button class="btn btn-primary mb-4" (click)="changePassword()">Change Password</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
