<div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <h1 class="text-left title">
            <i [class]="'fa fa-newspaper mr-3'"></i>News Feed
        </h1>
    </div>
    <div class="text-right col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 pb-2" *ngIf="loaded">
        <app-toolbar showCredit="false" showColumnToggle="false" showFilters="true" (filterClicked)="OnFilterClicked($event)"></app-toolbar>
    </div>
</div>

<div class="row  justify-content-md-center news-feed">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10" *ngIf="loaded">
        <app-filters [data]="searchFilter" [(shouldCollapse)]="isCollapsed" (filterApplied)="onFilterApplied($event)" (filterRemoved)="onFilterRemoved($event)"></app-filters>
    </div>
</div>

<div class="row  justify-content-md-center">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10"  *ngIf="showSearchResult">
            <span *ngFor="let filter of searchFilter.filters; index as i">
                <span class="badge m-r-5 mb-3 p-2 pl-3 pr-3 f-12 shadow-2 badge-pill btn-primary" *ngIf="getFilterText(filter)">
                    {{getFilterText(filter)}}
                    <i class="feather icon-x f-14" (click)="clearThisFilter(filter)"></i>
                </span>
            </span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10" *ngIf="loaded">
                <app-timeline [api]="api" (norecords)="OnNoNewsData()" [msg]="'No recent News found related to your favourite companies'"></app-timeline>
        </div>
    </div>